<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Nuevo</title>
</head>
<body>
    <h1>Agregar Nuevo</h1>
    <form action="/new" method="POST">
        <label>Categoria: <input type="text" name="categoria"></label><br>
        <label>Nombre: <input type="text" name="nombre"></label><br>
        <label>Descripcion: <input type="text" name="descripcion"></label><br>
        <label>Link: <input type="text" name="link"></label><br>
        <label>Vigencia: <input type="text" name="vigencia"></label><br>
        <button type="submit">Guardar</button>
    </form>
    <a href="/">Cancelar</a>
</body>
</html>
